{% extends 'base.html.twig' %}
{# @var tenants \AppBundle\Entity\Tenant[] #}
{# @var invoices \AppBundle\Client\Invoice[] #}

{% block body %}

      {% for tenant in tenants %}
         <a  href="http://{{ tenant.getDatabase() }}.{{version}}" class="btn btn-primary {{ name==tenant.getDatabase() ? 'active'}}">{{ tenant.getDatabase() }}</a>
      {% endfor %}


      <div class="row marketing">
        <div class="col-lg-6">
                {% if name!="" %}
                    <h2>Database: <span class="badge badge-success"> {{ name }} </span></h2>
                    <div class="row">
                      <div class="col">
                        <h2>Table: Invoices</h2>
                      </div>
                      <div class="col">
                          <a href="{{ path('invoice_add') }}" class="btn btn-dark float-right">Add</a>
                      </div>
                    </div>
                    

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Number</th>
                                <th>Company</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.number }}</td>
                                <td>{{ invoice.company }}</td>
                                <td>
                                  <a href="{{ path('invoice_delete', {'invoiceId': invoice.id,}) }}" class="btn btn-danger float-right">X</a>
                                  <a href="{{ path('invoice_update', {'invoiceId': invoice.id,}) }}" class="btn btn-info float-right">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
        </div>
    </div>
    
{% endblock %}
