{# app/Resources/views/invocie/new.html.twig #}
{% extends 'base.html.twig' %}
{# @var tenants \AppBundle\Entity\Tenant[] #}
{# @var invoices \AppBundle\Client\Invoice[] #}


{% block body %}
	
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}